body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: Roboto, arial;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hero {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #F9FAF8;
  background-color: #1F2937;
}

.header img {
  width: 75px;
  height: 75px;
}

.links {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
  padding: 10px;
  font-family: 'Roboto', arial;
}

.hero-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  background-color: #1F2937;
  color: #E5E7EB;
  padding: 4% 0 5%;
}

.hero-body {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 40%;
}

.hero-body h1 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
  margin-bottom: -1%;
}

.hero-body p {
  font-size: 18px;
  color: #E5E7EB;
}

.hero button {
  display: block;
  text-align: center;
  width: 110px;
  border: none;
  background: #3882f6;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
  font-family: 'Roboto', arial;
  text-decoration: none;
  font-weight: bold;
}

.hero-main img {
  height: 400px;
  width: auto;
}

.photos {
  display: flex;
  flex-direction: column;
  padding: 3%;
}

.photos h2 {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
}

.photo-grid {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.photo-grid img {
  height: 280px;
  width: auto;
  object-fit: cover;
  border: 4px solid #3882F6;
  border-radius: 15px;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #E5E7EB;
  padding-right: 10%;
  padding-left: 10%;
}

.quote h1 {
  font-size: 36px;
  color: #1F2937;
  font-weight: 300;
}

.quote p {
  align-self: flex-end;
  font-weight: bold;
}

.sign-up-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #3882F6;
  margin: 5% 10% 5% 10%;
}

.sign-up-section button {
    color: #fff;
    font-family: Roboto, arial;
    border-color: #fff;
    border-radius: 8px;
    background-color: #3882F6;
    padding: 5px 25px;
    font-size: 15px;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1F2937;
  color: #E5E7EB;
  padding: 10px;
}